<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base Template{% endblock %}</title>
</head>

<body>
    {% if user.is_authenticated %}
    Welcome!
    <a href="{% url 'app1_manager:create' %}">Create a post</a>
    {% else %}
    <h1>Not logged In</h1>
    <!--<a href="{% url 'login' %}">Login</a>-->
    {% endif %}

    {% block content %}
    {% endblock %}
</body>

</html>